<div class="card login">
  <h1>Log in to play the Movie Game</h1>

  <form>
    <input placeholder="Email">
    <input placeholder="Usernname">
    <input placeholder="Password">

    <button type="submit" class="signup">Sign Up</button>
  </form>

</div>
